<footer>
    <p class="f1"><span>&#9990;</span> +44 7585 966114</p>
    <p class="f2">
        <span>&#x2709;</span><a href="mailto:lancasterproducekv@gmail.com">
            lancasterproducekv@gmail.com</a>
    </p>
    <p class="f3">
        Address:<br />
        Lancaster House <br />
        Hackthorn Cliff <br />
        Lincoln <br />LN2 3PT
    </p>
    <a href="terms.html" title="" class="f4">Terms </a>
    <a href="cookies.html" title="" class="f5">Cookies </a>
    <p class="f6">
        <abbr title="Animal and Plant Health Agency"> APHA No: xxxxxxx </abbr>
    </p>
    <a href="sitemap.html" title="" class="f7">Sitemap</a>
    <p class="f8">&copy; Lancaster produce 2026.</p>
    <p id="easterEgg1">&nbsp;</p>
</footer>